* {
  box-sizing: border-box;
}

body {
  background: #23252c;
  font-family: "Inter", sans-serif;
  margin: 0.5em 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  font-weight: 700;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: #1a1b21;
  color: #dcdcdc;
}

.profile-img {
  width: 100%;
}

.header {
  text-align: center;
}

.header,
.info {
  padding: 1.2em 2.1em;
}

.header--name {
  font-size: 1.56rem;
}

.header--title {
  color: #f3bf99;
  font-size: 0.8rem;
  margin-top: 0.4em;
}

.header--website {
  display: block;
  color: #f5f5f5;
  font-size: 0.64rem;
  margin-top: 0.55em;
}

.header--email-btn {
  width: 100%;
  border-radius: 6px;
  padding: 0.5625rem 0.8125rem 0.5625rem 0.6875rem;
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: center;
  cursor: pointer;
  border: none;
  margin-top: 0.88em;
  font-weight: 500;
}

.info--title {
  font-size: 1rem;
  margin-bottom: 0.3em;
}

.info--paragraph {
  margin-bottom: 1.5em;
  font-size: 0.75rem;
  line-height: 150%;
  color: #dcdcdc;
  max-width: 550px;
}

footer {
  background-color: #161619;
}

.social-list {
  font-size: 1.5rem;
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0.75em 0;
  gap: 1.5em;
  justify-content: center;
}

.social-icon {
  color: #918e9b;
}

/* @media (min-width: 400px) {
  .header--email-btn {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .header--name {
    font-size: 2rem;
  }

  .header--title {
    font-size: 1rem;
  }

  .header--website {
    font-size: 0.8rem;
  }

  .header--email-btn {
    font-size: 1.25rem;
  }
} */
